body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #861657;
  background-image: linear-gradient(120deg, #861657 40%, #ffa69e 100%);
  font-family: 'Arial', sans-serif;
}

#book {
  width: 385px;
  height: 300px;
  perspective: 1000px;
}

.page {
  margin-top: 15px;
  justify-content: center;
  position: absolute;
  width: 95%;
  height: 50%;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

#page1 {
  z-index: 12;
}

#page2 {
  z-index: 11;
  transform: rotateY(-180deg);
}

#page3 {
  z-index: 10;
  transform: rotateY(-180deg);
}

#page4 {
  z-index: 9;
  transform: rotateY(-180deg);
}

#page5 {
  z-index: 8;
  transform: rotateY(-180deg);
}

#page6 {
  z-index: 7;
  transform: rotateY(-180deg);
}

#page7 {
  z-index: 6;
  transform: rotateY(-180deg);
}

#page8 {
  z-index: 5;
  transform: rotateY(-180deg);
}

#page9 {
  z-index: 4;
  transform: rotateY(-180deg);
}

#page10 {
  z-index: 3;
  transform: rotateY(-180deg);
}

#page11 {
  z-index: 2;
  transform: rotateY(-180deg);
}

#page12 {
  z-index: 1;
  transform: rotateY(-180deg);
}

.page .content {
  background-color: #fff;
  background-image:   Linear-gradient(120deg, #861657 30%,  #ffa69e 112%);
  border-radius:10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
font-size: 14.5px;
}

img {
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-top: 5px;
}

button {
  background-color: #ff69b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: #ff1493;
 }
 
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap as needed */
}

.tribute {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#birthday-card {
   background-image:   Linear-gradient(120deg, #861657 70%,  #ffa69e 120%);
  text-align: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20; /* Set a high z-index to make sure the canvas is on top */
  pointer-events: none; /* Allows clicks to pass through the canvas */
  width: 100%;
  height: 100%;
}